<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test_Suite" parallel="none">
  <test name="Test_Cases">
    <classes>
      <class name="Appium_PKG.NewTest1"/>
      <class name="Appium_PKG.NewTest2"/>
      <class name="Appium_PKG.NewTest3"/>
    </classes>
  </test> <!-- Test_Cases -->
</suite> <!-- Test_Suite -->
